---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to My Astro Site">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-6">Welcome to My Astro Site</h1>
    <p class="mb-4">This is the home page of our awesome Astro project.</p>
    <nav>
      <ul class="list-disc list-inside">
        <li>
          <a href="/countries" class="text-blue-600 hover:underline"
            >View Countries</a
          >
        </li>
        <li>
          <a href="/jokes" class="text-blue-600 hover:underline">Read Jokes</a>
        </li>
        <li>
          <a href="/randomuser" class="text-blue-600 hover:underline"
            >Random Users</a
          >
        </li>
        <li>
          <a href="/placeholder" class="text-blue-600 hover:underline"
            >JSON Placeholder Posts</a
          >
        </li>
      </ul>
    </nav>
  </main>
</Layout>
