---
const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-800 text-white py-4 mt-8">
  <div class="container mx-auto text-center">
    <p>
      Made with ❤️ by <a
        href="https://www.garthscaysbrook.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-300 hover:text-blue-100 transition-colors duration-200"
        >Garth Scaysbrook</a
      >
    </p>
    <p class="text-sm mt-2">&copy; {currentYear} All rights reserved.</p>
  </div>
</footer>
