<div
  id="loading-spinner"
  class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50"
>
  <div
    class="animate-spin rounded-full h-32 w-32 border-t-4 border-b-4 border-blue-500"
  >
  </div>
</div>

<style>
  .animate-spin {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
